@import "estilos-comun.css";

/*CONTENDERO PRINCIPAL*/
.contenedor-principal{
    display: grid;
    grid-template-rows: repeat(3, auto);
    background-image: url("../imagenes/eugenia-sushita.jpg");
    background-size: cover;
    padding: 20px 40px 20px 40px;
}
.contenedor-principal p{
    font-size: 18px;
}
#certificado{
    font-size: 15px;
    display: flex;
    margin-left: 50%;
    justify-content: space-between;
}