@import "estilos-comun.css";

.contenedor-ubicaciones{
    display: flex;
    justify-content: space-around;
    margin: 80px;
}
.cont:hover{
    transform: scale(1.05, 1.05);
}
.cont:active{
    opacity: 0.5;
}
#item-1,
#item-2{
    width: 300px;
    height: 150px;
    border-radius: 5px;
    border: 2px;
    font-size: 16px;
    font-weight: bold;
    background-size: cover;
}

#item-1{
    background-image: url(../imagenes/grupo-sushita.jpg);
}
#item-2{
    background-image: url(../imagenes/sobre-nosotros.jpg);
}