@import "estilos-comun.css";

.contenedor-horas{
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin: 50px 200px auto 200px;
}
.fila{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
#boton-seleccion{
    width: 70px;
    height: 25px;
    border-radius: 5px;
}