@import "estilos-comun.css";

/*CONTENEDOR PRINCIPAL*/
.contenedor-principal{
    background-image: url(../imagenes/saludable\ 1.png);
    background-size: cover;
    color: var(--color-texto2);
}

.contenedor-auxiliar{
    display: flex;
    justify-content: center;
}
.datos-reserva{
    background-color: var(--color-footer);
    border: 2px solid var(--color-borde);
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    margin: 20px;
}
.datos-reserva p{
    font-size: 18px;
}
