:root{
    --color-fondo3: rgba(202, 120, 115, 0.2);
    --color-fondo2: #EEB8B5;
    --color-fondo1: rgba(202, 120, 115, 0.8);
}

html {
    scroll-behavior: smooth;
}

body{
    background: #ffffff;
    color: #000;
    min-width: 500px;
    margin: 0;
    overflow-x: hidden;
    min-height: 200px;
}
/*Header*/
header{
    background-color: var(--color-fondo2);
    height: 120px;
    /*position: fixed;
    top: 0;*/
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
#logo{
    height: 120px;
}
.menu{
    display: flex;
    align-items: center;
    justify-self: end;
    margin-right: 30px;
}
.menu a{
    color: #000;
    text-decoration: none;
}
.menu a:hover{
    color: #ffffff;
}
#menu{
    margin: 10px;
}